
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

section {
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% auto 25%;
    align-items: start;
    vertical-align: text-bottom;
    
}
.horizontal-line {
    background-image: url("./assets/hr-img.png");
    background-size: cover;
    background-repeat: repeat-x;
    height: 10px;
    
}
.title {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6em;
}
.post-date {
    text-transform:uppercase ;
    font-size: .8em;
    color: rgb(145, 142, 142);
}
#print {
    font-size: .75em;
    color: rgb(145, 142, 142);
}
.title-div {
    display: grid;
    grid-template-columns: 40% 50% 10%;
}
